<script>
  document.title = "Profile Page";
</script>
<%- include('./partials/header.ejs') %> 
<% if(success.length > 0) { %>
  <div id="success-alert"
    class="bg-green-800 border border-green-600 text-green-200 px-4 py-3 rounded w-full transition-opacity duration-500 ease-in-out opacity-100 fixed top-0">
    <div class="flex items-center gap-3">

      <strong class="font-bold">Success : </strong>
      <span class="block sm:inline">
        <%= success %>
      </span>
    </div>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-green-400" role="button" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20" onclick="closeAlert()">
        <title>Close</title>
        <path
          d="M14.348 14.849a1 1 0 01-1.414 0L10 11.914l-2.936 2.935a1 1 0 01-1.414-1.414l2.935-2.936-2.935-2.936a1 1 0 011.414-1.414l2.936 2.935 2.936-2.935a1 1 0 011.414 1.414L11.414 10l2.935 2.936a1 1 0 010 1.414z" />
      </svg>
    </span>
  </div>
<% } %>

<!-- ====================================================================================================== -->
<div class="w-full mx-auto p-6 bg-gray-900 text-gray-200">
  <div class="bg-gray-900 rounded-lg shadow-lg p-6 flex flex-col items-center space-y-6">
    <div class="relative">
      <form id="uploadform" hidden action="/avatarupload" enctype="multipart/form-data" method="post">
        <input type="file" name="avatar" id="" accept="image/*">
      </form>
      <span id="avatarclick" class="w-8 h-8 mb-2 mr-2 cursor-pointer absolute flex items-center justify-center bottom-0 right-0 bg-zinc-700 rounded-full">
        <i class="text-zinc-300 ri-pencil-fill"></i>
      </span>
      <div class="w-36 h-36 rounded-full border border-zinc-500 overflow-hidden">
        <% if(!user?.avatar?.url == '' && !user?.avatar?.contentType?.trim() == '' ){ %>
          <img src="<%=user.avatar.url%>" class="w-full h-full object-cover object-center" alt="Post Image" loading="lazy" />
        <%} else{%>

          <img src="https://i.pinimg.com/564x/15/03/fc/1503fc4ae8ad7eab7e96b80ca1cfe0df.jpg"
          alt="Profile Picture" class="w-full h-full object-cover object-center" alt="Post Image" loading="lazy" />
          <% } %>

        
      </div>
    </div>
    <div class="text-center">
      <h2 class="text-2xl font-bold mb-2">
        <%= user.fullname %>
      </h2>
      <h3 class="text-xl text-gray-400">@<%= user.username %></h3>
      <div class="flex items-center gap-5 justify-center mt-4 ">

        <a href="/edit"
        class="inline-block px-7 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 transition-colors">Edit</a>
      
      
        <a href="/posts/createPost" 
        class="inline-block px-7 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 transition-colors">Add A Post</a>
      
      
      </div>

      
    </div>
  </div>


  

  <!-- ===================================================================================================================== -->

  <div class="w-full container mx-auto mt-5 flex items-end justify-end px-8 relative">
    <!-- Modal toggle -->
    <button type="button" class="hover:bg-gray-700 rounded-full px-3 py-2" data-popover-target="popover-default" data-modal-target="crud-modal" data-modal-toggle="crud-modal">
      <i class="ri-add-large-line font-bold text-xl md:text-2xl"></i>
    </button>  




    <div data-popover id="popover-default" role="tooltip" class="absolute z-10 invisible inline-block w-fit text-sm text-gray-400 transition-opacity duration-300 bg-gray-800 border border-gray-700 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-700 dark:bg-gray-800">
      <div class="px-3 py-2 bg-gray-800 border-b border-gray-700 rounded-lg dark:border-gray-600 dark:bg-gray-700">
          <h3 class="font-semibold text-gray-400 dark:text-white">Create New Board</h3>
      </div>
      
      <div data-popper-arrow class="bg-gray-800"></div>
  </div>




  </div>



 




  <!-- ************************************************************************************************** -->

<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative p-5 inline-block bg-gray-900 border-2 border-gray-700 rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-2 md:p-3 border-b rounded-t mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-white dark:text-white">
          Create New Board
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form id="inner-form" class="p-4 md:p-5">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label for="boardTitle" class="block mb-2 text-sm font-medium text-white dark:text-white">Board Title</label>
            <input type="text" name="boardTitle" id="boardTitle" class="bg-gray-900 border border-gray-300 text-white text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Board Title" required>
          </div>
          <div class="col-span-2">
            <label class="block mb-2 text-sm font-medium text-white dark:text-white" for="coverImg">Cover Image</label>
            <input class="block w-full text-sm text-white border border-gray-300 rounded-lg cursor-pointer bg-gray-900 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="coverImg" type="file" name="coverImg" accept="image/*">
          </div>
        </div>
    
        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" formenctype="multipart/form-data" formmethod="post" formaction="/board/create">
          <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
          </svg>
          Create Board
        </button>

      </form>
    </div>
  </div>
</div>



  <!-- ************************************************************************************************** -->

  <% if(user.boards.length <= 0){ %>
      <h3 class="text-3xl font-bold text-center mt-10 min-h-screen">No Posts Yet</h3>
  <%}else{%>

    
 
  <div class="card min-h-screen grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 px-5 md:px-10 mt-10 ">
    <% user.boards.forEach(board => { %>
      <a href="/posts/show/<%= board._id  %>">
      <div class="card w-full bg-gray-950 p-3 rounded-lg ">
        <div class="w-full h-32 md:w-full md:h-56 bg-zinc-700 p-1 rounded-lg overflow-hidden mx-auto">
          
          <img src="<%=board.coverImg.url%>" class="h-full w-full object-center object-cover rounded-lg"
          alt="Post Image" loading="lazy" />
        </div>
          <div class="w-full rounded-lg overflow-hidden mx-auto">

            <span  class="inline-block font-semibold text-xl tracking-wider capitalize mt-3"><%= board?.boardTitle %></span>
            <h5 class="text-xs font-medium text-white/70"> <%= board.posts.length %> Pins</h5>
          </div>
      </div>
    </a>
      <% }); %>
    </div>

    
  <%} %>
   <!-- ===================================================================================================================== -->
   <!-- **************************************Display Post**************************************** -->
 
</div>

<!-- ===================================================================================================================== -->

<script>
  document.querySelector('#avatarclick').addEventListener('click' , ()=>{
    document.querySelector('#uploadform input').click();
  })

  document.querySelector('#uploadform input').addEventListener('change' , ()=>{
    document.querySelector('#uploadform').submit();
  })
</script>




<%- include('./partials/footer.ejs') %>
